<!-- Socila Media Section -->
    <section id="social">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="section-heading">Where to find us</h2>
                </div>
                <div class="col-md-7">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>