<!-- Sponsors Section-->
    <section id="sponsors" class="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        {% for sponsor in site.sponsors %}
                        <li><a href="{{sponsor.url}}"><img src="img/logos/{{sponsor.name}}.png" class="img-responsive img-centered img-sponsors"></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>