<!-- Sponsors Section-->
    <section id="sponsors" class="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="https://qiskit.org/"><img src="img/logos/qiskit.png" class="img-responsive img-centered img-sponsors"></a>
                        </li>
                        <li><a href="https://www.ibm.com/"><img src="img/logos/ibm.png" class="img-responsive img-centered img-sponsors"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>