<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hands-on Introduction to Quantum Computing</h2>
                </div>
            </div>
            <div class="row container">

                 <center><a href="https://www.meetup.com/IndiQ-Meetups/events/268088463/" class="page-scroll btn btn-xl">Register Now</a></center>
            </div>
        </div>
    </section>