<!DOCTYPE html>
<html>

  {% include 2017_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">IndiQ Meetups<br></div>
                <div class="intro-lead-in">Monthly quantum computing meetups across India</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>


    </body>
</html>